@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    font-family: "Manrope", sans-serif;
}



.coluna_menu{
    height: 130vh;
    width: 20vw;
    background-color: rgba(171, 206, 250, 0.788);
    position: absolute;
    top: 0vh;
    left: 0vw;
    position: fixed;
}

.pesquisa{
    height: 10vh;
    width: 80vw;
    background-color: rgba(171, 206, 250, 0.788);
    margin: -2vh;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0vh;
    left: 20.9vw;
    position: fixed;
}

.perfil{
    position: relative;
    top:2vh;
    left: 2vw;
    color: #080076;
}

.painel{
    color: white;
    padding-left: 2vh;
    font-weight: 600;
    background-color: #080076;
    height: 5vh;
    width: 16vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:10vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.agendamento{
    color:#080076;
    padding-left: 2vh;
    font-weight: 600;
    background-color: #08007615;
    height: 5vh;
    width: 16vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:15vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.portal{
    color:#080076;
    padding-left: 2vh;
    font-weight: 600;
    background-color: #08007615;
    height: 5vh;
    width: 16vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:20vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.salas{
    color:#080076;
    padding-left: 2vh;
    font-weight: 600;
    background-color: #08007615;
    height: 5vh;
    width: 16vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:25vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.relatorios{
    color:#080076;
    padding-left: 2vh;
    font-weight: 600;
    background-color: #08007615;
    height: 5vh;
    width: 16vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:30vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.logout{
    color:#080076;
    padding-left: 2vh;
    font-weight: 600;
    background-color: #08007615;
    height: 8vh;
    width: 8vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:50vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.avatar{
    background-image: url(assets/avatar.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    top: 1vh;
    left: 76vw;
    height: 6vh;
    width: 6vh;
    border-radius: 3vw;
}

.pesquisar{
    height: 5vh;
    max-width:36vh;
    padding-left: 1vh;
    border-color: gray;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-radius: 3vh;
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    font-style: italic;
    order:2;
    position: relative;
    top:1vh;
    left: 47vw;
}

 .settings{
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    font-style: italic;
    order:2;
    position: relative;
    top:1vh;
    left:67vw; 
    gap:1vw;
}
    